.submit-details-page {
	margin: auto;
	margin-top: 10vh;
	width: 100%;

	.submit-details-form-container {
		width: 50%;
		margin: auto;
	}

	.submit-details-footer {
		text-align: center;
		margin-top: 2rem;
		color: #5d6083;
		margin-bottom: 2rem;

		.policy-links {
			margin-top: 1rem;
			color: #5d6083;

			a {
				font-family: 'GTW_Regular';
				font-size: 1rem;
				color: #5d6083;
				text-decoration: none;

				&:hover {
					color: #3d3f55;
					text-decoration: underline;
				}
			}
		}
	}
}

@media only screen and (max-width: 1500px) {
	.submit-details-page {
		width: 50%;
		margin-top: 8vh;

		.submit-details-form-container {
			width: 100%;
		}

		.submit-details-footer {
			font-family: 'GTW_Regular', sans-serif;
			font-size: 1.2rem;
			line-height: 1.5rem;

			.policy-links {
				margin-top: 2rem;
				font-size: 1rem;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.submit-details-page {
		width: 70%;
		margin-top: 8vh;

		.submit-details-form-container {
			width: 100%;
		}

		.submit-details-footer {
			font-family: 'GTW_Regular', sans-serif;
			font-size: 1.1rem;
			line-height: 1.5rem;

			.policy-links {
				margin-top: 2rem;
				font-size: 0.9rem;
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.submit-details-page {
		width: 85%;

		.submit-details-form-container {
			width: 100%;
		}

		.submit-details-footer {
			font-family: 'GTW_Regular', sans-serif;
			font-size: 1rem;
			line-height: 1.5rem;

			.policy-links {
				margin-top: 2rem;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.submit-details-page {
		width: 100%;
		margin-top: 8vh;

		.submit-details-form-container {
			width: 100%;
		}

		.submit-details-footer {
			font-family: 'GTW_Regular', sans-serif;
			font-size: 1rem;
			line-height: 1.5rem;

			.policy-links {
				margin-top: 2rem;
			}
		}
	}
}
