.user-details-form {
	background-color: #f9f9f9;
	border: 1px solid #d6d6d6;
	padding: 1.2rem 2.4rem;
	border-radius: 12px;

	.form-title {
		font-family: 'GTW_Regular';
		font-size: 1.5rem;
		color: #333233;
		margin-bottom: 1.8rem;
	}

	.form-item {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;

		.label {
			font-family: 'GTW_Regular';
			font-size: 1rem;
			color: #333233;
			line-height: 1.5rem;
		}

		.input-email {
			margin-top: 0.4rem;
			width: 70%;
			padding: 0.6rem 1rem;
			border-radius: 8px;
			font-family: 'GTW_Regular';
			font-size: 1rem;
			color: #333233;
			outline: none;
			border: 2px solid #7b66fb;
		}

		.images-container {
			margin-top: 0.4rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;

			.uploaded-image-container {
				position: relative;
				display: inline-block;
				margin-right: 0.5rem;
				margin-bottom: 0.5rem;

				.cross-icon-container {
					width: 20px;
					height: 20px;
					border-radius: 20px;
					background-color: #7b66fb;
					border: 1px solid #7b66fb;
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: -1px;
					right: 0px;
					cursor: pointer;
					z-index: 10000000;
				}

				.uploaded-image {
					width: 81px;
					height: 81px;
					border-radius: 6px;
					display: block;
					object-fit: cover;

					&:hover {
						opacity: 0.8;
						cursor: pointer;
					}
				}
			}

			.custom-file-upload-input {
				border-radius: 8px;
				display: inline-block;
				position: relative;
				width: 80px;
				height: 80px;
				border: 2px solid #7b66fb;
				text-align: center;
				cursor: pointer;
				margin-right: 0.5rem;
				margin-bottom: 0.5rem;

				.upload-icon-and-text-container {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 100%;

					img {
						width: 1.5rem;
						height: 1.5rem;
					}

					span {
						// margin-top: 10px;
						color: #a1a1a1;
						font-size: 1rem;
					}
				}

				.input-image-hidden {
					display: none;
				}
			}
		}

		.button-submit {
			outline: none;
			background-color: #7b66fb;
			padding: 0.9rem 1.8rem;
			border-radius: 2rem;
			border: none;
		}

		.button-submit-disabled {
			cursor: not-allowed;
			background-color: #d6d6d6;
		}

		.button-submit-enabled {
			transition: 0.2s ease-in-out;

			&:hover {
				cursor: pointer;
				scale: 0.98;
			}

			&:active {
				scale: 0.96;
			}
		}

		.submit-button-text {
			color: #fff;
			font-family: 'GTW_Regular';
			font-size: 1rem;
		}
	}
}

.user-details-form-disabled {
	// opacity: 0.5;
	pointer-events: none;
}

@media only screen and (max-width: 1200px) {
	.user-details-form {
		padding: 1rem 2rem;
	}
}

@media only screen and (max-width: 800px) {
	.user-details-form {
		padding: 0.9rem 1.8rem;
	}
}

@media only screen and (max-width: 500px) {
	.user-details-form {
		padding: 0.8rem 1.6rem;
	}
}
