.main {
	background: linear-gradient(to right, #ed93bf, #72b4e3, #6f5feb);
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.main-white-background {
		width: 95%;
		background-color: #fff;
		border-radius: 1.5rem;
		min-height: 95vh;
		margin-top: 2.5vh;
		margin-bottom: 2.5vh;

		.padding {
			width: 70%;
			margin: auto;
			margin-top: 3vh;
		}
	}

	.project-self-attribution-container {
		position: fixed;
		bottom: 0;
		left: 0;
		background-color: #212121;
		color: #fff;

		.project-self-attribution-text {
			padding: 0.4rem;
			font-size: 0.8rem;
			margin: 0;

			.project-self-attribution-link {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}

@media only screen and (max-width: 1700px) {
	.main {
		.main-white-background {
			.padding {
				width: 90%;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.main {
		.main-white-background {
			min-height: 97vh;
			margin-top: 2.5vh;
			margin-bottom: 2.5vh;

			.padding {
				width: 90%;
			}
		}
	}
}
