.homepage-page {
	margin-top: 10vh;
	text-align: center;

	.hero-section {
		width: 70%;
		margin: auto;

		.homepage-heading {
			font-family: 'GTW_Bold';
			font-size: 3rem;
			line-height: 3.5rem;
			color: #333233;
			margin-bottom: 2rem;
		}

		.homepage-subheading {
			font-family: 'GTW_Regular';
			font-size: 1.5rem;
			color: #7e7e7e;
			margin-bottom: 2rem;
			line-height: 2.5rem;
		}

		.hero-cta-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 2rem;

			.hero-cta {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 1rem 2rem;
				background-color: #7b66fb;
				outline: none;
				border: none;
				border-radius: 2rem;
				box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
				cursor: pointer;
				transition: all 0.1s ease-in-out;
				margin-bottom: 0.6rem;

				.hero-cta-text {
					font-family: 'GTW_Regular', sans-serif;
					font-size: 1.2rem;
					color: #fff;
					margin-right: 0.5rem;
				}

				.hero-cta-arrow {
					width: 3rem;
					height: 1.2rem;
				}

				&:hover {
					transform: scale(0.98);
				}

				&:active {
					transform: scale(0.95);
				}
			}

			.hero-cta-assurance-container {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				.hero-cta-assurance-heart {
					width: 1.2rem;
					height: 1.2rem;
					margin-right: 0.5rem;
				}

				.hero-cta-assurance-text {
					font-family: 'GTW_Regular', sans-serif;
					font-size: 1rem;
					color: #7e7e7e;
				}
			}
		}
	}

	.feedback-section {
		margin-top: 5rem;
		text-align: left;

		.feedback-title {
			margin: 0.5rem 0;
			font-family: 'GTW_Medium', sans-serif;
			font-size: 1rem;
			color: #333233;
		}
	}
}

@media only screen and (max-width: 1500px) {
	.homepage-page {
		.hero-section {
			width: 70%;

			.homepage-heading {
				font-size: 2.7rem;
				line-height: 3.2rem;
				margin-bottom: 1.5rem;
			}

			.homepage-subheading {
				font-size: 1.4rem;
				margin-bottom: 1.5rem;
				line-height: 2.2rem;
			}

			.hero-cta-container {
				margin-top: 2rem;

				.hero-cta {
					padding: 0.9rem 1.8rem;
					border-radius: 1.8rem;
					margin-bottom: 0.9rem;

					.hero-cta-text {
						font-size: 1.2rem;
						margin-right: 0.5rem;
					}

					.hero-cta-arrow {
						width: 2rem;
						height: 1rem;
					}
				}

				.hero-cta-assurance-container {
					.hero-cta-assurance-heart {
						width: 1rem;
						height: 1rem;
						margin-right: 0.3rem;
					}

					.hero-cta-assurance-text {
						font-size: 0.9rem;
					}
				}
			}
		}

		.feedback-section {
			margin-top: 3rem;

			.feedback-title {
				margin: 0.6rem 0;
				font-size: 1rem;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.homepage-page {
		.hero-section {
			width: 80%;
		}
	}
}

@media only screen and (max-width: 800px) {
	.homepage-page {
		.hero-section {
			width: 95%;

			.homepage-heading {
				font-size: 2rem;
				line-height: 2.5rem;
				margin-bottom: 1.5rem;
			}

			.homepage-subheading {
				font-size: 1.2rem;
				margin-bottom: 1.5rem;
				line-height: 1.8rem;
			}

			.hero-cta-container {
				margin-top: 2rem;

				.hero-cta {
					padding: 0.8rem 1.6rem;
					border-radius: 1.6rem;
					margin-bottom: 0.8rem;

					.hero-cta-text {
						font-size: 1.2rem;
						margin-right: 0.5rem;
					}

					.hero-cta-arrow {
						width: 2rem;
						height: 1rem;
					}
				}

				.hero-cta-assurance-container {
					.hero-cta-assurance-heart {
						width: 1rem;
						height: 1rem;
						margin-right: 0.3rem;
					}

					.hero-cta-assurance-text {
						font-size: 0.9rem;
					}
				}
			}
		}

		.feedback-section {
			margin-top: 4rem;

			.feedback-title {
				margin: 0.6rem 0;
				font-size: 1rem;
			}
		}
	}
}
